<!DOCTYPE HTML>
<html>
  <head>
    <title>Test Cases for <%= site_uri %></title>
    <link rel="stylesheet" href="screen.css" media="screen">
  </head>
  <body>
    <header>
      <h1>Test Cases for <%= site_uri %></h1>
    </header>
    <section>
      <ol>
        <% test_cases.each do |link_texts| %>
          <li class="test-case">
            <ol>
              <% link_texts.each do |link_text| %>
                <li>
                  <a href="<%= link_text.uri %>">
                    <%= link_text.uri.request_uri %>
                  </a>
                  via <code><%= link_text.description.gsub('<', '&lt;').gsub('>', '&gt;') %></code>
                </li>
              <% end %>
            </ol>
          </li>
        <% end %>
      </ol>
    </section>
  </body>
</html>
